<h1>WTF is colapp?</h1>

<p>Dunno yet. It's collaborative and just born, <s>and no one is collaborating yet</s>, so it doesn't do anything. What do you want it to be?</p>

<quote style:"font-size:125%;">This is like startup weekend, without all the startup and weekend.</quote>

<p>
Here's the source: <a href="http://github.com/ivey/colapp">ivey/colapp</a>. All pull requests accepted,
anyone who asks can have push access, and after a few decent or interesting commits you can get heroku access to
deploy.
</p>

<p>
Want to sign up? It doesn't do anything yet, but <%= link_to "come on in", new_user_registration_path %>.
</p>

<h2>What will it do?</h2>
Beats me. What do you want it to do?

<div style="border:10px solid green;padding:10px;font-size:110%;width:45%;margin:40px 20%;text-align:center">
So far, <%= pluralize User.active.count, 'person' %> active.
</div>
