<h1>WTF is colapp?</h1>

<p>Dunno yet. It's collaborative, and no one is collaborating yet, so it doesn't do anything.</p>

<p>
Here's the source: <a href="http://github.com/ivey/colapp">ivey/colapp</a>. All pull requests accepted,
anyone who asks can have push access, and after a few decent or interesting commits you can get heroku access to
deploy.
</p>

<p>
Want to sign up? It doesn't do anything yet, but <%= link_to "come on in", new_user_registration_path %>.
</p>

<h2>What will it do?</h2>
Beats me. What do you want it to do?
